{% extends 'main.html' %}

{% block content %}



{% if page == 'login' %}
<div>
<form method ="POST" action ="">
    {% csrf_token %}
    <label>Username : </label>
    <input type ="text" name ="username" placeholder="Enter your name"/>
    <input type ="password" name ="password" placeholder="Enter your password"/>
    <input type ="submit" value="login" />
</form>

<p>havent Signed up yet?</p>
<a href=' {% url 'register' %}'>SignUp</a>
</div>

{% else %}
<div>
    <form method ="POST" action ="">
        {% csrf_token %}
        {{form.as_p}}
        <p> havent signed up  </p>
        <a href=' {% url 'login' %}'>Signin</a>
        <input type ="submit" value="register" />
    </form>
</div>

{% endif %}

{% endblock content %}